<form [formGroup]="formulario" style="padding: 30px" (ngSubmit)="RegistrarPersona()">
    <div class="mb-3">
        <label for="Documento" class="form-label">Documento</label>
        <input type="number" class="form-control" id="Documento" formControlName="documento" />
    </div>
    <span class="text-danger" *ngIf="
      formulario.get('documento')!.hasError('required') &&
      formulario.get('documento')!.touched
    ">El documento es requerido</span
  >
  <div class="mb-3">
    <label for="nombres" class="form-label">Nombres</label>
    <input
      type="text"
      class="form-control"
      id="nombres"
      formControlName="nombres"
    />
    <span
      class="text-danger"
      *ngIf="
        formulario.get('nombres')!.hasError('required') &&
        formulario.get('nombres')!.touched
      "
      >Los nombres son requeridos</span
    >
  </div>
  <div class="mb-3">
    <label for="apellidos" class="form-label">Apellidos</label>
    <input
      type="text"
      class="form-control"
      id="apellidos"
      formControlName="apellidos"
    />
    <span
      class="text-danger"
      *ngIf="
        formulario.get('apellidos')!.hasError('required') &&
        formulario.get('apellidos')!.touched
      "
      >Los apellidos son requeridos</span
    >
  </div>

  <div class="mb-3">
    <label for="fnacimiento " class="form-label">Fecha de nacimiento</label>
    <input
      type="date"
      class="form-control"
      id="fnacimiento"
      formControlName="fechanacimiento"
    />
  </div>
  <span
    class="text-danger"
    *ngIf="
      formulario.get('fechanacimiento')!.hasError('required') &&
      formulario.get('fechanacimiento')!.touched
    "
    >La fecha de nacimiento es requerida</span
  >
  <div class="mb-3">
    <label for="tpersona " class="form-label">Tipo de persona</label>
    <select class="form-control" id="tpersona" formControlName="tipo">
      <option value="" disabled selected>Seleccione un tipo de persona</option>
      <option [value]="tipo" *ngFor="let tipo of Tipos">{{ tipo }}</option>
    </select>
  </div>

  <div class="mb-3">
    <label for="genero " class="form-label">Género</label>
    <select class="form-control" id="genero" formControlName="tipo" formControlName="genero">
      <option value="" disabled selected>Seleccione un género</option>
      <option [value]="genero" *ngFor="let genero of Generos">
        {{ genero }}
      </option>
    </select>
  </div>

  <div class="mb-3">
    <label for="fbaja " class="form-label">Fecha de baja</label>
    <input
      type="date"
      class="form-control"
      id="fbaja "
      formControlName="fechabaja"
    />
  </div>
  <span
    class="text-danger"
    *ngIf="
      formulario.get('fechabaja')!.hasError('required') &&
      formulario.get('fechabaja')!.touched
    "
    >La fecha de baja es requerida</span
  >
  <div class="mb-3">
    <label for="Usuario" class="form-label">Usuario</label>
    <input
      type="text"
      class="form-control"
      id="Usuario "
      formControlName="usuario"
    />
  </div>
  <span
    class="text-danger"
    *ngIf="
      formulario.get('usuario')!.hasError('required') &&
      formulario.get('usuario')!.touched
    "
    >El usuario es requerido</span
  >
  <div class="mb-3">
    <label for="direccion" class="form-label">Dirección</label>
    <input
      type="text"
      class="form-control"
      id="direccion "
      formControlName="direccion"
    />
  </div>
  <span
    class="text-danger"
    *ngIf="
      formulario.get('direccion')!.hasError('required') &&
      formulario.get('direccion')!.touched
    "
    >La dirección es requerida</span
  >
  <div class="mb-3">
    <label for="descripcion" class="form-label">descripcion</label>

    <textarea
      name=""
      id="descripcion"
      cols="30"
      rows="10"
      class="form-control"
      formControlName="descripcion"
    ></textarea>
  </div>

  <div class="mb-3">
    <label for="telefono " class="form-label">Teléfono fijo</label>
    <input
      type="tel"
      class="form-control"
      id="telefono "
      formControlName="telefono"
    />
  </div>
  <span
    class="text-danger"
    *ngIf="
      formulario.get('telefono')!.hasError('required') &&
      formulario.get('telefono')!.touched
    "
    >El teléfono fijo es requerido</span
  >
  <div class="mb-3">
    <label for="movil" class="form-label">Teléfono movil</label>
    <input
      type="tel"
      class="form-control"
      id="movil "
      formControlName="movil"
    />
  </div>
  <span
    class="text-danger"
    *ngIf="
      formulario.get('movil')!.hasError('required') &&
      formulario.get('movil')!.touched
    "
    >El teléfono movil es requerido</span
  >
  <div class="mb-3">
    <label for="email" class="form-label">E-mail</label>
    <input
      type="email"
      class="form-control"
      id="email"
      formControlName="email"
    />
  </div>
  <span
    class="text-danger"
    *ngIf="
      formulario.get('email')!.hasError('required') &&
      formulario.get('email')!.touched
    "
    >El email es requerido</span
  >
  <button type="submit" class="btn btn-primary" [disabled]="formulario.invalid">
    Registrar nueva persona
  </button>
</form>